
@{
    ViewBag.Title = "Administration";
}

<div class="container-fluid">
	<h2>Administration</h2>
	<div class="row">
		<div class="col-lg-4">
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>User administration</h3>
			
			<table class="table">
				<thead>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>User type</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Albert</td>
					<td>Moravec</td>
					<td>Student</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

