@{
	ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Main Page</title>
</head>
<body>
<div class="jumbotron">
	<h2>Vítejte na Objednávkovém webu iMeal</h2>
</div>
</body>
</html>
