
@{
    ViewBag.Title = "CreateMeal";
}

<h2>Meal has been successfuly added to colection</h2>

<div class="row">
	<div class="col-md-2">
		<button style="margin: 3%;" type="button" class="btn btn-success" onclick="window.location.href='@Url.Action("Index", "Home")'">
			Back To Main Page
		</button>
	</div>
	<div class="col-md-2">
		<button style="margin: 3%;" type="button" class="btn btn-info" onclick="window.location.href='@Url.Action("Forms", "Home")'">
			Back To Forms Page
		</button>
	</div>
</div>

