@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>Forms</title>
</head>
<body>
	<div class="panel-group" id="accordion">
		<!--Registration-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#collapseRegistration" data-toggle="collapse" data-parent="#accordion">Registration</a>
				</h4>
			</div>
			<div id="collapseRegistration" class="panel-collapse collapse">
				<div class="panel-body">
					<!--Form here-->
				</div>
			</div>
		</div>

		<!--Login-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#collapseLogin" data-toggle="collapse" data-parent="#accordion">Login</a>
				</h4>
			</div>
			<div id="collapseLogin" class="panel-collapse collapse">
				<div class="panel-body">
					<!--Form here-->
				</div>
			</div>
		</div>

		<!--Meal Order-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#collapseMealOrder" data-toggle="collapse" data-parent="#accordion">Meal Order</a>
				</h4>
			</div>
			<div id="collapseMealOrder" class="panel-collapse collapse">
				<div class="panel-body">
					<!--Form here-->
				</div>
			</div>
		</div>
		
		<!--Meal Create-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#collapseMealCreate" data-toggle="collapse" data-parent="#accordion">Meal Create</a>
				</h4>
			</div>
			<div id="collapseMealCreate" class="panel-collapse collapse">
				<div class="panel-body">
					<!--Form here-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>
